/*
0- 600px; Phone
600 - 900px; Table portrait
900 - 1200px; Tablet landscape
[1200 - 2000} is where our normal styles apply
2000px + : big desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-width: 380px;
  box-sizing: border-box;
}

.product {
  display: flex;
  width: 70%;
}
.product__image {
  flex: 0 25rem;
}
.product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__information {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5rem;
}
.product__upper-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__name {
  font-family: "Caveat", cursive;
  font-size: 4.3rem;
  letter-spacing: 2px;
  font-weight: 500;
}
.product__name:link, .product__name:visited {
  text-decoration: none;
  color: #272829;
}
.product__price {
  font-size: 2rem;
}
.product__description {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  line-height: 2;
}

.button__anim--white, .button__anim {
  position: relative;
}
.button__anim--white::before, .button__anim::before, .button__anim--white::after, .button__anim::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 50%;
  transition: all 0.3s;
}
.button__anim--white::before, .button__anim::before {
  top: 0;
  left: 0;
  border-top: 2px solid #f5f7f8;
  border-left: 2px solid #f5f7f8;
}
.button__anim--white::after, .button__anim::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #f5f7f8;
  border-right: 2px solid #f5f7f8;
}
.button__anim--white:hover::before, .button__anim:hover::before, .button__anim--white:hover::after, .button__anim:hover::after, .button__anim--white:focus::before, .button__anim:focus::before, .button__anim--white:focus::after, .button__anim:focus::after {
  width: 50%;
  height: 60%;
}

.button {
  outline: none;
  border: none;
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.button__anim--white {
  background-color: #f5f7f8;
  color: #272829;
}
.button__anim--white:visited, .button__anim--white:link {
  background-color: #f5f7f8;
  color: #272829;
}
.button__anim--white::before, .button__anim--white::after {
  border-color: #272829;
  border-width: 2px;
}
.button__anim--white:hover {
  color: #272829;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 12rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 18rem) / 4);
}

.light__NavLink-sc-1dasr60-2:link, .light__NavLink-sc-1dasr60-2:visited,
.iKrKeo:link,
.iKrKeo:visited {
  text-decoration: none;
  color: #272829;
}

.light__Header-sc-1dasr60-0,
.fSXhoR,
.header-light {
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: none !important;
}

.FiveColumnWithInputForm__LogoImg-sc-15nw9w3-17,
.hoPdCh {
  width: 15rem !important;
  height: 10rem;
}

.sc-uVWWZ:link, .sc-uVWWZ:visited,
.bxFlZX:link,
.bxFlZX:visited {
  text-decoration: none;
  color: #f5f7f8;
}

.sc-Nxspf:link, .sc-Nxspf:visited,
.YZmkV:link,
.YZmkV:visited {
  color: #ecf0f1 !important;
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
}
.app > *:nth-child(2) {
  padding-top: 2rem;
  min-height: 60vh;
}

.menu {
  padding-top: 5rem;
  padding-left: 20rem;
}
.menu__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 5rem;
}
.menu__subheading {
  font-family: "Caveat", cursive;
  color: #d8d9da;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fda769;
}
.menu__list {
  margin-top: 5rem;
}
.menu__item:not(:last-child) {
  margin-bottom: 5rem;
}

.pageproduct {
  display: flex;
  padding: 4rem 10rem;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.pageproduct__image {
  flex: 1;
}
.pageproduct__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.pageproduct__information {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pageproduct__name {
  font-family: "Caveat", cursive;
  font-size: 3rem;
  color: #333;
}
.pageproduct__category {
  font-size: 1.5rem;
  color: #666;
}
.pageproduct__price {
  font-size: 2.5rem;
  color: #111;
  font-weight: bold;
}
.pageproduct__description {
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.6;
  max-width: 600px;
}
.pageproduct__button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: #ff9900;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
.pageproduct__button:hover {
  background-color: #e68a00;
}

.quantity-input {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.quantity-input button {
  background-color: #f7f7f7;
  color: #333;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}
.quantity-input button:hover {
  background-color: #e6e6e6;
}
.quantity-input button:focus {
  outline: none;
}
.quantity-input input {
  width: 50px;
  border: none;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
}
.quantity-input input:focus {
  outline: none;
}

.login__button {
  padding: 1rem 2rem;
  font-size: 2rem;
}

.cart-container {
  width: 80%;
  margin: 2rem auto;
  background: #f5f7f8;
  box-shadow: 0 2px 4px rgba(39, 40, 41, 0.1);
  padding: 2rem;
  border-radius: 4px;
}
.cart-container .cart-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  color: #272829;
}
.cart-container .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
  transition: background-color 0.2s ease-in-out;
}
.cart-container .cart-item:hover {
  background-color: #e3e3e3;
}
.cart-container .cart-item-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart-container .cart-item-details img {
  width: 100px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(39, 40, 41, 0.1);
}
.cart-container .cart-item-details h4 {
  font-family: "Montserrat", sans-serif;
  color: #333;
  margin: 0;
}
.cart-container .cart-item .item-price {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #272829;
}
.cart-container .cart-item .quantity-control {
  display: flex;
  align-items: center;
}
.cart-container .cart-item .quantity-control button {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.2s ease-in-out;
}
.cart-container .cart-item .quantity-control button:hover {
  background-color: #d8d9da;
}
.cart-container .cart-item .quantity-control span {
  margin: 0 10px;
}
.cart-container .cart-item .remove-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.cart-container .cart-item .remove-button:hover {
  background-color: #e43725;
}
.cart-container .cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 1.6rem;
  font-family: "Roboto Serif", serif;
  color: #333;
}
.cart-container .checkout-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}
.cart-container .checkout-button:hover {
  background-color: black;
}

@media (max-width: 1024px) {
  .cart-container {
    width: 90%;
    padding: 1.5rem;
  }
  .cart-container .cart-header,
  .cart-container .cart-item,
  .cart-container .cart-total {
    flex-direction: column;
    align-items: start;
  }
  .cart-container .cart-item .quantity-control,
  .cart-container .cart-item .item-quantity,
  .cart-container .cart-item .remove-button {
    margin-top: 10px;
  }
  .cart-container .checkout-button {
    width: auto;
  }
}
@media (max-width: 768px) {
  .cart-container .cart-header,
  .cart-container .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart-container .cart-item .quantity-control {
    justify-content: flex-start;
  }
}
.dashboard-container {
  display: flex;
  height: 90vh;
}

.sidebar {
  background-color: #2c3e50;
  color: #ecf0f1;
  width: 25rem;
  padding: 2rem;
}
.sidebar nav ul {
  list-style: none;
  padding: 0;
}
.sidebar nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  display: block;
  padding: 1rem 0;
}

.main-content {
  flex-grow: 1;
  background-color: #bdc3c7;
  padding: 2rem;
}
.main-content .server-status,
.main-content .server-details,
.main-content .server-statistics {
  background-color: #ecf0f1;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.4rem;
}
.main-content .server {
  background-color: #ecf0f1;
  color: #2c3e50;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  .main-content {
    width: 100%;
  }
}
.container {
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.table {
  max-width: 100%;
  background-color: #fff;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin-top: 1rem;
}
.table thead tr {
  background-color: #f2f2f2;
}
.table thead tr th {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  border-bottom: 2px solid #eaeaea;
}
.table tbody tr {
  transition: background-color 0.3s ease;
}
.table tbody tr:hover {
  background-color: #f7f7f7;
}
.table tbody tr td {
  font-size: 0.9rem;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #eaeaea;
}
.table tbody tr td a {
  color: #007bff;
  text-decoration: none;
}
.table tbody tr td a:hover {
  text-decoration: underline;
}

.spinner {
  width: 3rem;
  height: 3rem;
}

.text-center {
  text-align: center;
  padding: 2rem 0;
}

.order__heading {
  display: flex;
  flex-direction: column;
}
.order__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__product figure {
  width: 5rem;
  height: 5rem;
}
.order__product h1 {
  font-size: 1.2rem;
}
.order__product h2 {
  font-size: 1.2rem;
}
.order__product h3 {
  font-size: 1.2rem;
}
.order__product img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order .row:not(:last-child) {
  margin-bottom: 5rem !important;
}
.order__main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order__left-section {
  flex: 0 1 60%;
}
@media only screen and (max-width: 56.25em) {
  .order__left-section {
    flex-basis: 100%;
    order: 2;
  }
}
.order__right-section {
  flex: 0 1 35%;
}
@media only screen and (max-width: 56.25em) {
  .order__right-section {
    flex-basis: 100%;
    order: 1;
  }
}

.container {
  @apply tw-min-h-screen tw-bg-primary-900 tw-text-white tw-font-medium tw-flex tw-justify-center tw--m-8;
  background-color: #2c3e50;
}

.content {
  @apply tw-max-w-screen-xl tw-m-0 tw-sm:mx-20 tw-sm:my-16 tw-bg-white tw-text-gray-900 tw-shadow tw-sm:rounded-lg tw-flex tw-justify-center tw-flex-1;
}

.main-container {
  @apply tw-lg:w-1/2 tw-xl:w-5/12 tw-p-6 tw-sm:p-12;
}

.logo-link {
  @apply tw-mb-4;
}

.logo-image {
  @apply tw-h-12 tw-mx-auto;
}

.heading {
  @apply tw-text-2xl tw-xl:text-3xl tw-font-extrabold;
  color: #272829;
}

.main-content {
  @apply tw-mt-12 tw-flex tw-flex-col tw-items-center;
}

.form-container {
  @apply tw-w-full tw-flex-1 tw-mt-8;
}

.input {
  @apply tw-w-full tw-px-8 tw-py-4 tw-rounded-lg tw-font-medium tw-bg-gray-100 tw-border tw-border-gray-200 tw-placeholder-gray-500 tw-text-sm tw-focus:outline-none tw-focus:border-gray-400 tw-focus:bg-white tw-mt-5 tw-first:mt-0;
}

.submit-button {
  @apply tw-mt-5 tw-tracking-wide tw-font-semibold tw-bg-primary-500 tw-text-gray-100 tw-w-full tw-py-4 tw-rounded-lg tw-hover:bg-primary-900 tw-transition-all tw-duration-300 tw-ease-in-out tw-flex tw-items-center tw-justify-center tw-focus:shadow-outline tw-focus:outline-none;
  background-color: #3498db;
}

.illustration-container {
  @apply tw-sm:rounded-r-lg tw-flex-1 tw-bg-purple-100 tw-text-center tw-hidden tw-lg:flex tw-justify-center;
}

.illustration-image {
  @apply tw-m-12 tw-xl:m-16 tw-w-full tw-max-w-sm tw-bg-contain tw-bg-center tw-bg-no-repeat;
}

@media (max-width: 768px) {
  .main-container,
  .illustration-container {
    @apply tw-w-full;
  }
  .form-container {
    @apply tw-w-3/4 tw-mx-auto;
  }
}
@media (max-width: 640px) {
  .main-content,
  .form-container {
    @apply tw-w-full tw-px-4;
  }
}
.user-email {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #272829;
}

.primary-button {
  background-color: #3498db;
}
.primary-button:hover {
  background-color: #5faee3;
}

.secondary-button {
  background-color: #d8d9da;
  margin-top: 1rem;
}
.secondary-button:hover {
  background-color: #bec0c1;
}

.main-content {
  padding: 2rem;
}

.divider-text-container {
  background-color: #ecf0f1;
  padding: 0.5rem;
  border-radius: 4px;
}

.divider-text {
  color: #e74c3c;
}

.input {
  border: 1px solid #e0e0e0;
}
.input:focus {
  border-color: #3498db;
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
}/*# sourceMappingURL=main.css.map */