/*
0- 600px; Phone
600 - 900px; Table portrait
900 - 1200px; Tablet landscape
[1200 - 2000} is where our normal styles apply
2000px + : big desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-width: 380px;
  box-sizing: border-box;
}

.product {
  display: flex;
  width: 70%;
}
.product__image {
  flex: 0 25rem;
}
.product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__information {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5rem;
}
.product__upper-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__name {
  font-family: "Caveat", cursive;
  font-size: 4.3rem;
  letter-spacing: 2px;
  font-weight: 500;
}
.product__name:link, .product__name:visited {
  text-decoration: none;
  color: #272829;
}
.product__price {
  font-size: 2rem;
}
.product__description {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  line-height: 2;
}

.button__anim--white, .button__anim {
  position: relative;
}
.button__anim--white::before, .button__anim::before, .button__anim--white::after, .button__anim::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 50%;
  transition: all 0.3s;
}
.button__anim--white::before, .button__anim::before {
  top: 0;
  left: 0;
  border-top: 2px solid #f5f7f8;
  border-left: 2px solid #f5f7f8;
}
.button__anim--white::after, .button__anim::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #f5f7f8;
  border-right: 2px solid #f5f7f8;
}
.button__anim--white:hover::before, .button__anim:hover::before, .button__anim--white:hover::after, .button__anim:hover::after, .button__anim--white:focus::before, .button__anim:focus::before, .button__anim--white:focus::after, .button__anim:focus::after {
  width: 50%;
  height: 60%;
}

.button {
  outline: none;
  border: none;
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.button__anim--white {
  background-color: #f5f7f8;
  color: #272829;
}
.button__anim--white:visited, .button__anim--white:link {
  background-color: #f5f7f8;
  color: #272829;
}
.button__anim--white::before, .button__anim--white::after {
  border-color: #272829;
  border-width: 2px;
}
.button__anim--white:hover {
  color: #272829;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 12rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 18rem) / 4);
}

.nav {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 5rem;
  color: #272829;
}
.nav__title {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  position: relative;
}
.nav__title-icon {
  position: absolute;
  top: -3rem;
  right: -1rem;
}
.nav__list {
  margin-left: auto;
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__item:not(:first-child) {
  margin-left: 4rem;
}
.nav__link {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: #272829;
}

.active {
  color: #fda769 !important;
}

.light__NavLink-sc-1dasr60-2:link, .light__NavLink-sc-1dasr60-2:visited,
.iKrKeo:link,
.iKrKeo:visited {
  text-decoration: none;
  color: #272829;
}

.footer {
  background-color: #272829;
  padding: 5rem 0;
  font-size: 1.4rem;
  margin-top: 10rem;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}
.footer__logo {
  text-align: center;
  margin-bottom: 8rem;
  font-family: "Caveat", cursive;
  font-size: 15rem;
  font-weight: 200;
  color: #f5f7f8;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo {
    margin-bottom: 6rem;
  }
}
.footer__navigation {
  border-top: 1px solid #d8d9da;
  padding-top: 2rem;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #f5f7f8;
  background-color: #272829;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  box-shadow: 0 1rem 2rem rgba(39, 40, 41, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #d8d9da;
  padding-top: 2rem;
  float: right;
  color: #f5f7f8;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    text-align: center;
  }
}

.FiveColumnWithInputForm__LogoImg-sc-15nw9w3-17,
.hoPdCh {
  width: 15rem !important;
  height: 10rem;
}

.sc-uVWWZ:link, .sc-uVWWZ:visited,
.bxFlZX:link,
.bxFlZX:visited {
  text-decoration: none;
  color: #f5f7f8;
}

.menu {
  padding-top: 5rem;
  padding-left: 20rem;
}
.menu__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 5rem;
}
.menu__subheading {
  font-family: "Caveat", cursive;
  color: #d8d9da;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fda769;
}
.menu__list {
  margin-top: 5rem;
}
.menu__item:not(:last-child) {
  margin-bottom: 5rem;
}

.pageproduct {
  display: flex;
}
.pageproduct__image {
  flex: 1;
}
.pageproduct__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pageproduct__information {
  flex: 1;
  margin-top: 5rem;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.pageproduct__name {
  font-family: "Caveat", cursive;
  font-size: 5rem;
  letter-spacing: 2px;
  font-weight: 500;
}
.pageproduct__price {
  font-size: 3rem;
}
.pageproduct__description {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  line-height: 2;
}
.pageproduct__button {
  font-size: 3rem;
  padding: 1.5rem 3rem;
  background-color: orange;
  font-family: "Caveat", cursive;
}

.quantity-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fda769; /* Blue background */
  border-radius: 10px; /* Rounded corners */
  width: 120px; /* Adjust as needed */
}

.quantity-input input {
  width: 40px; /* Width of the number input */
  border: none; /* Remove border */
  text-align: center; /* Center the text */
  font-size: 16px; /* Large font size */
  color: white; /* White text color */
  background: none; /* Transparent background */
}

.quantity-input button {
  background: none; /* Transparent background */
  border: none; /* Remove border */
  color: white; /* White text color */
  font-size: 20px; /* Large font size */
  padding: 10px; /* Padding around the buttons */
  cursor: pointer; /* Cursor indicates button */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; /* Prevent text selection */
}

/* Remove the spinner from the input type number */
.quantity-input input::-webkit-outer-spin-button,
.quantity-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.login__button {
  padding: 1rem 2rem;
  font-size: 2rem;
}

.cart-container {
  width: 80%;
  margin: 0 auto;
}
.cart-container .cart-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}
.cart-container .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}
.cart-container .cart-item:hover {
  background-color: #e3e3e3;
}
.cart-container .cart-item img {
  width: 100px;
}
.cart-container .cart-item .cart-item-details {
  display: flex;
  align-items: center;
}
.cart-container .cart-item .cart-item-details > *:not(:first-child) {
  margin-left: 5rem;
}
.cart-container .cart-item .item-price {
  text-align: center;
}
.cart-container .cart-item .quantity-control {
  display: flex;
  align-items: center;
}
.cart-container .cart-item .quantity-control button {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  cursor: pointer;
}
.cart-container .cart-item .quantity-control span {
  margin: 0 10px;
}
.cart-container .cart-item .remove-button {
  color: #333;
  cursor: pointer;
}
.cart-container .special-instructions {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 20px 0;
}
.cart-container .cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 1.2em;
}
.cart-container .checkout-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .cart-container {
    width: 95%;
  }
  .cart-container .cart-item {
    flex-direction: column;
    align-items: start;
  }
  .cart-container .cart-item .quantity-control {
    margin-top: 10px;
  }
  .cart-container .cart-total {
    font-size: 1em;
  }
}
.dashboard-container {
  display: flex;
  height: 90vh;
}

.sidebar {
  background-color: #2c3e50;
  color: #ecf0f1;
  width: 25rem;
  padding: 2rem;
}
.sidebar nav ul {
  list-style: none;
  padding: 0;
}
.sidebar nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  display: block;
  padding: 1rem 0;
}

.main-content {
  flex-grow: 1;
  background-color: #bdc3c7;
  padding: 2rem;
}
.main-content .server-status,
.main-content .server-details,
.main-content .server-statistics {
  background-color: #ecf0f1;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.4rem;
}
.main-content .server {
  background-color: #ecf0f1;
  color: #2c3e50;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  .main-content {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */