.FiveColumnWithInputForm__LogoImg-sc-15nw9w3-17,
.hoPdCh {
  width: 15rem !important;
  height: 10rem;
}

.sc-uVWWZ,
.bxFlZX {
  @include whitenLink;
}
.sc-Nxspf,
.YZmkV {
  &:link,
  &:visited {
    color: $color-light !important;
    text-decoration: none;
  }
}
