.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center; //for icons
    cursor: pointer;
    z-index: 999;
    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }
  &__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    border-radius: 50%;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-gray, $color-orange);
    transition: all 0.8s cubic-bezier(0.49, -0.55, 0.5, 1.65);
    z-index: 997;

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }
    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }
  &__nav {
    opacity: 0;
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 998;
  }
  &__list {
    width: 100%;
    @include absCenter;
    list-style: none;
    text-align: center;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 50%,
        $color-white 50%
      );
      transition: all 0.5s;
      background-size: 230%;
      transform: translateX(0rem);
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: darken($color-gray, 30%);
      transform: translateX(1rem);
    }
  }

  //navigation functionality of appear and dissappear

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //icon functionality
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px; //three lines icon
      background-color: darken($color-gray, 30%);
      display: inline-block;
      transition: all 0.2s;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  //onclick icon animation
  &__checkbox:checked ~ &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked ~ &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }
  &__checkbox:checked ~ &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}
