.nav {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 5rem;
  color: $color-black;

  &__title {
    font-family: $font-title-B;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    position: relative;

    &-icon {
      position: absolute;
      top: -3rem;
      right: -1rem;
    }
  }
  &__list {
    margin-left: auto;
    display: flex;
    align-items: center;
    list-style: none;
  }
  &__item {
    &:not(:first-child) {
      margin-left: 4rem;
    }
  }
  &__link {
    @include darkenLink;
    font-family: $font-title-A;
    font-size: 2rem;
    font-weight: 500;
  }
}

.active {
  color: $color-orange !important;
}

.light__NavLink-sc-1dasr60-2,
.iKrKeo {
  @include darkenLink;
}
