.product {
  display: flex;
  width: 70%;
  &__image {
    flex: 0 25rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__information {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5rem;
  }

  &__upper-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__name {
    @include darkenLink;
    font-family: $font-title-B;
    font-size: 4.3rem;
    letter-spacing: 2px;
    font-weight: 500;
  }
  &__price {
    font-size: 2rem;
  }
  &__description {
    font-family: $font-content;

    letter-spacing: 2px;
    line-height: 2;
  }
}
