// Main container and background
.container {
  @apply tw-min-h-screen tw-bg-primary-900 tw-text-white tw-font-medium tw-flex tw-justify-center tw--m-8;
  background-color: $sidebar-bg; // Using variable1.0 for the background color
}

// Content container
.content {
  @apply tw-max-w-screen-xl tw-m-0 tw-sm:mx-20 tw-sm:my-16 tw-bg-white tw-text-gray-900 tw-shadow tw-sm:rounded-lg tw-flex tw-justify-center tw-flex-1;
}

// Main content area
.main-container {
  @apply tw-lg:w-1/2 tw-xl:w-5/12 tw-p-6 tw-sm:p-12;
}

// Logo
.logo-link {
  @apply tw-mb-4;
}

.logo-image {
  @apply tw-h-12 tw-mx-auto;
}

// Heading and main content
.heading {
  @apply tw-text-2xl tw-xl:text-3xl tw-font-extrabold;
  color: $color-black; // Using variable1.0 for the text color
}

.main-content {
  @apply tw-mt-12 tw-flex tw-flex-col tw-items-center;
}

// Form container
.form-container {
  @apply tw-w-full tw-flex-1 tw-mt-8;
}

// Inputs
.input {
  @apply tw-w-full tw-px-8 tw-py-4 tw-rounded-lg tw-font-medium tw-bg-gray-100 tw-border tw-border-gray-200 tw-placeholder-gray-500 tw-text-sm tw-focus:outline-none tw-focus:border-gray-400 tw-focus:bg-white tw-mt-5 tw-first:mt-0;
}

// Submit button
.submit-button {
  @apply tw-mt-5 tw-tracking-wide tw-font-semibold tw-bg-primary-500 tw-text-gray-100 tw-w-full tw-py-4 tw-rounded-lg tw-hover:bg-primary-900 tw-transition-all tw-duration-300 tw-ease-in-out tw-flex tw-items-center tw-justify-center tw-focus:shadow-outline tw-focus:outline-none;
  background-color: $color-primary; // Using variable1.0 for the button background color
}

// Illustration container
.illustration-container {
  @apply tw-sm:rounded-r-lg tw-flex-1 tw-bg-purple-100 tw-text-center tw-hidden tw-lg:flex tw-justify-center;
}

// Illustration image
.illustration-image {
  @apply tw-m-12 tw-xl:m-16 tw-w-full tw-max-w-sm tw-bg-contain tw-bg-center tw-bg-no-repeat;
}

// Media Queries for responsiveness
@media (max-width: 768px) {
  .main-container,
  .illustration-container {
    @apply tw-w-full;
  }
  .form-container {
    @apply tw-w-3/4 tw-mx-auto;
  }
}

@media (max-width: 640px) {
  .main-content,
  .form-container {
    @apply tw-w-full tw-px-4;
  }
}
