.order-confirmation-card {
  padding: 2rem;
  border: none;
  box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%),
    0 0.9375rem 1.40625rem rgb(90 97 105 / 10%),
    0 0.25rem 0.53125rem rgb(90 97 105 / 12%),
    0 0.125rem 0.1875rem rgb(90 97 105 / 10%);

  background-color: #fff;
}

.order-confirmation-icon {
  color: #28a745; /* Success green */
  font-size: 2.5rem;
}

.order-confirmation-heading {
  color: #333; /* Dark grey for better readability */
  margin-bottom: 1rem;
}

.order-confirmation-message {
  font-size: 1rem;
  color: #555; /* Medium grey for the message */
}

.order-confirmation-button {
  padding: 0.5rem 2rem;
}

.w-100 {
  width: 100%;
}

/* Centering the card in the column */
.d-flex.justify-content-center {
  display: flex;
  justify-content: center;
}
